<% title _('Geyser - Team &laquo;%s&raquo;') % @team.name %>

<div id="main-content">

<div id="rightbar">
<div class="headleft">
<div class="headright" title="<%= _('ALT repositories') %>">
  <%= _('ALT repositories') %>
</div>
<%= image_tag('collapse.gif', id: 'topRPM', class: 'close', title: _('hide window'), alt: _('hide window'), size: '10x9') %>
</div>
<div id="topRPMDiv" style="border: dotted gray 1px; margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">

<% @branches.each do |branch| %>
<tr>
  <td style="text-align: left;">
    <%= link_to branch.name, team_path(branch, @team.login[1..-1]), class: 'news' %>
  </td>
  <td style="text-align: right;"><%= @team.support_count %></td>
</tr>
<% end %>

</table>
</div>
</div>
  <div class="header">
    <%= _('Team:') %> <%= @team.name %>
  </div>

  <p class="break"></p>
  <b><%= _('Information:') %></b>
  <div class="para"></div>

  <p class="break"></p>
  <% if @leader %>
    <b><%= _('Team leader:') %></b>
    <%= link_to _(@leader.name), maintainer_path(login: @leader.login, branch: @branch.slug), class: 'news', title: _('information about maintainer') %>
    <p class="break"></p>
  <% end %>

  <b><%= _('Team members:') %></b>
  <ul>
    <% @members.each do |member| %>
      <li><%= link_to _(member.name), maintainer_path(login: member.login), class: 'news', title: _('information about maintainer') %></li>
    <% end %>
  </ul>

  <p class="break"></p>

  <b><%= _('List of packages:') %></b>
  [
  <%= @spkgs_counter %>
  ]
  <br>
  <br>

  <table class='results' cellspacing='0' cellpadding='3'>
    <tr>
      <% if @branch.perpetual? %>
        <th class='repocop'><%= raw _('repo<br>cop') %></th>
      <% end %>
      <th class='name'><%= _('package') %></th>
      <th class='evrb'><%= raw _('current version') %></th>
      <th class='built-at'><%= _('build time') %></th>
      <th class='age'><%= _('age') %></th>
      <th class='url'><%= _('Url') %></th>
      <th class='description'><%= _('Summary') %></th>
    </tr>

    <% @spkgs.each do |spkg| %>
      <tr>
        <% if @branch.perpetual? %>
          <td class='repocop'>
            <%= link_to image_tag("#{ spkg.repocop_status }.png", size: '20x20', alt: spkg.repocop_status), repocop_notes_path(reponame: spkg.name, branch: @branch), class: 'repocoplink', title: _('repocop') %>
            <% if spkg.repocop_patch %>
              <br>
              <%= link_to image_tag('patch.jpg', alt: _('repocop patch')), download_repocop_patch_url(spkg.repocop_patch), class: 'repocoplink', title: _('repocop brought patchset for the package') %>
            <% end %>
          </td>
        <% end %>
        <td class='name'>
          <%= link_to spkg.name, srpm_path(branch: @branch, reponame: spkg), class: 'news', title: _('detailed information about RPM') %>
        </td>
        <td class='evrb'><%= spkg.evr %></td>
        <td class='built-at'><%= spkg.buildtime %></td>
        <td class='age'><%= "#{ time_ago_in_words(spkg.buildtime) } #{ _('ago') }" %></td>
        <td class='url'><%= spkg.url && link_to(spkg.url, spkg.url, class: 'news', target: :blank, rel: :nofollow) %></td>
        <td class='description'><%= I18n.locale == :ru && spkg.summaries.first&.text || spkg.summary %></td>
      </tr>
    <% end %>
  </table>

  <p class="break" />

  <div style="text-align:center">
    <%= paginate @spkgs %>
  </div>

<div id="bottom-offset-l">
 <div id="bottom-offset-r">
   &nbsp;
 </div>
</div>
