<% title _('Geyser - Maintainer &laquo;%s&raquo; - Feature Requests') % _(@maintainer.name) %>

<div id='main-content'>

<div id="rightbar">
  <%= render partial: "shared/tables/pure_branches", locals: { branches: @branches_s.as_json } %>
</div>

<div class="header"><%= _('Maintainer:') %> <%= _(@maintainer.name) %></div>
<p class="break" />
<%= render partial: "shared/maintainer_menu", locals: { current_page: :novelties, branch: @branch, maintainer: @maintainer, opened_bugs: @opened_bugs, all_bugs: @all_bugs } %>
<p class="break" />

<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _('branch') %></th>
    <th><%= _('package') %></th>
    <th><%= raw _('current<br>version') %></th>
    <th><%= _('reported') %></th>
    <th><%= _('new version') %></th>
    <th><%= _('url') %></th>
  </tr>

  <% @frs.each do |f| %>
    <tr>
      <td><%= f.branch.name %></td>
      <td><%= link_to f.repo_name, srpm_path(f.branch, f.repo_name), class: 'news' %></td>
      <td><%= "#{ f.evr }" %></td>
      <td><%= time_ago_in_words(f.reported_at) %> <%= _('ago') %></td>
      <td><%= f.source_url && link_to(f.target_version, f.source_url, class: "news") || f.target_version %></td>
      <td><%= f.source_url && link_to(f.source_url, f.source_url, class: "news") %></td>
    </tr>
  <% end %>
</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
