<% title _('Geyser - Maintainer &laquo;%s&raquo; - Packages') % _(@maintainer.name) %>

<div id='main-content'>

<div id="rightbar">
<div class="headleft">
<div class="headright" title="<%= _('ALT repositories') %>">
  <%= _('ALT repositories') %>
</div>
<%= image_tag('collapse.gif', id: 'topRPM', class: 'close', title: _('hide window'), alt: _('hide window'), size: '10x9') %>
</div>
<div id="topRPMDiv" style="border: dotted gray 1px; margin: 0px 4px 4px 4px;">
<table style="font-size:8pt;" width="100%">

<% @branches.each do |branch| %>
<tr>
  <td style="text-align: left;">
    <%= link_to branch.name, maintainer_srpms_path(branch, @maintainer), class: 'news' %>
  </td>
</tr>
<% end %>

</table>
</div>
</div>

<div class="header"><%= _('Maintainer:') %> <%= _(@maintainer.name) %></div>
<p class="break" />

<%= render partial: "shared/maintainer_menu", locals: { current_page: :packages, branch: @branch, maintainer: @maintainer, opened_bugs: @opened_bugs, all_bugs: @all_bugs } %>

<p class="break" />
<b><%= _('List of packages which was built by this maintainer:') %></b> [<%= @maintainer.support_count %>] <br><br>

<table class='results' cellspacing="0" cellpadding="3">
  <tr>
    <% if @branch.perpetual? %>
      <th class='repocop'>
        <%= raw _('repo<br>cop') %>
      </th>
    <% end %>
    <th class='name'><%= _('package') %></th>
    <th class='version'><%= raw _('versions') %></th>
    <th class='age'><%= _('age') %></th>
    <th class='url'><%= _('Url') %></th>
    <th class='description'><%= _('Summary') %></th>
  </tr>

  <% @spkgs.each do |spkg| %>
  <tr>
    <% if @branch.perpetual? %>
      <td class='repocop'>
        <%= link_to image_tag("#{ spkg.repocop_status }.png", size: '20x20', alt: spkg.repocop_status), repocop_notes_path(reponame: spkg.name), class: 'repocoplink', title: 'repocop' %>
        <% if spkg.repocop_patch %>
          <br>
          <%= link_to image_tag('patch.jpg', alt: _('repocop patch')), download_repocop_patch_url(spkg.repocop_patch.package_id), class: 'repocoplink', title: _('repocop patchset for the package') %>
        <% end %>
      </td>
    <% end %>
    <td class='name'>
      <%= link_to spkg.name, srpm_path(reponame: spkg.name, branch: @branch.slug), class: 'news' %>
    </td>
    <td class='version'>
      <%- spkg.evrbes.sort_by { |(buildtime, _)| buildtime }.reverse.each do |time, evrb| %>
         <span class="badge"><%= link_to evrb, evrb_srpm_path(branch: spkg.slugs[time], reponame: spkg.name, evrb: evrb), class: 'news', title: spkg.name + "-" + evrb %></span>
      <%- end %>
    </td>
    <td class='age'><%= time_ago_in_words(spkg.buildtime) %> <%= _('ago') %></td>
    <td class='url'><%= spkg.url && link_to(spkg.url, spkg.url, class: 'news', target: :blank, rel: :nofollow) %></td>
    <td class='description'><%= spkg.summary %></td>
  </tr>
  <% end %>
</table>

  <p class="break" />

  <div style="text-align:center">
    <%= paginate @spkgs %>
  </div>


</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
