<% title _('Geyser - Package &laquo;%s&raquo; - Repocop') % @spkg.name %>
<% description "#{ @spkg.name } - #{ @spkg.summary }" %>
<% keywords @spkg.summary %>

<div id='main-content'>
   <div class="rightbar">
      <%= render partial: "shared/tables/srpm_list", locals: { branched_srpms: @spkgs_by_name.as_json } %>
   </div>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%= _('Group') %> :: <%= _(@spkg.groupname) %></b><br>
    <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @spkg.name %></div>
  </div>
</div>

<div>
<%= render partial: "shared/srpms_menu", locals: { current_page: :repocop, branch: @branch, srpm: @spkg, opened_bugs: @opened_bugs, all_bugs: @all_bugs, evrb: @evrb } %>

</div>
<table class="list" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _('package') %></th>
    <th><%= _('arch') %></th>
    <th><%= _('status') %></th>
    <th><%= _('test') %></th>
    <th><%= _('message') %></th>
  </tr>

<% @repocop_notes.each do |repocop_note| %>
  <% if !repocop_note.skip? %>
  <tr>
    <td><%= "#{ repocop_note.package_fullname }" %></td>
    <td><%= "#{ repocop_note.package_arch }" %></td>
    <td class="repocop-status"><%= image_tag("#{ repocop_note.status }.png", size: '20x20') %><br><%= repocop_note.status %></td>
    <td><%= repocop_note.kind %></td>
    <td style="text-align:left">
      <% if repocop_note.description.empty? %>
        &nbsp;
      <% else %>
        <%= repocop_note.description %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>

</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
