<% title _('Geyser - Maintainer &laquo;%s&raquo; - Repocop') % _(@maintainer.name) %>

<div id='main-content'>

<div id="rightbar">
  <%= render partial: "shared/tables/pure_branches", locals: { branches: @branches_s.as_json } %>
</div>

<div class="header"><%= _('Maintainer:') %> <%= _(@maintainer.name) %></div>

<p class="break" />
<%= render partial: "shared/maintainer_menu", locals: { current_page: :repocop, branch: @branch, maintainer: @maintainer, opened_bugs: @opened_bugs, all_bugs: @all_bugs } %>
<p class="break" />
<b><%= _('Repocop messages:') %></b><br><br>

<table class='list' cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _('package') %></th>
    <th><%= _('arch') %></th>
    <th><%= _('status') %></th>
    <th><%= _('test') %></th>
    <th><%= _('message') %></th>
  </tr>

<% if @repocop_notes.present? %>
  <% @repocop_notes.find_each do |repocop_note| %>
     <%- if repocop_note.spkg.present? #NOTE can be null when is=src_id of built package %>
        <tr>
           <td class="strange">
            <%= link_to "#{ repocop_note.package_fullname }", srpm_path(branch: @branch, reponame: repocop_note.spkg.name), class: 'news', title: _('detailed information about RPM') %>
          </td>
          <td>
            <%= repocop_note.package_arch %>
          </td>
          <td class='repocop-status'><%= image_tag("#{ repocop_note.status }.png", size: '20x20') %><br><%= repocop_note.status %></td>
          <td><%= repocop_note.kind %></td>
          <td style="text-align:left"><%= repocop_note.description %></td>
        </tr>
    <%- end %>
  <%- end %>
<%- end %>

</table>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
