<% title _('Geyser - Maintainer &laquo;%s&raquo; - Gear') % _(@maintainer.name) %>

<div id='main-content'>

<div id="rightbar">
  <%= render partial: "shared/tables/pure_branches", locals: { branches: @branches_s.as_json } %>
</div>

<div class="header"><%= _('Maintainer:') %> <%= _(@maintainer.name) %></div>
<p class="break" />
<%= render partial: "shared/maintainer_menu", locals: { current_page: :gear, branch: @branch, maintainer: @maintainer, opened_bugs: @opened_bugs, all_bugs: @all_bugs } %>
<p class="break" />

<% if @repos.count != 0 %>
<table id="bugs" cellspacing="0" cellpadding="3" class="repo">
  <tr>
    <th><%= _('Git repo') %></th>
    <th><%= _('Time') %></th>
  </tr>
  <% @repos.each do |repo| %>
    <tr>
      <td style="text-align: left">
        <%= link_to repo.reponame, repo.uri, class: 'news' %>
      </td>
      <td><%= repo.changed_at %></td>
    </tr>
  <% end %>
</table>
<% end %>

</div>

<div id="bottom-offset-l">
  <div id="bottom-offset-r">
    &nbsp;
  </div>
</div>
