<% title _('Geyser - Maintainer &laquo;%s&raquo;') % _(@maintainer.name) %>

<div id='main-content'>

<div id="rightbar">
  <%= render partial: "shared/tables/pure_branches", locals: { branches: @branches_s.as_json } %>
</div>

<div class="header"><%= _('Maintainer:') %> <%= _(@maintainer.name) %></div>
<p class="break" />
<%= render partial: "shared/maintainer_menu", locals: { current_page: :information, branch: @branch, maintainer: @maintainer, opened_bugs: @opened_bugs, all_bugs: @all_bugs } %>
<p class="break" />

<%= image_tag(@maintainer.avatar_url, size: '210x210', alt: _(@maintainer.name)) %>

<p class="break" />

<%- if @maintainer.website.present? %>
   <b><%= _('Website/Blog:') %></b> <%= link_to @maintainer.website, @maintainer.website %><br>
<%- end %>
<%- if @maintainer.location.present? %>
   <b><%= _('Location:') %></b> <%= @maintainer.location %><br>
<%- end %>
<b><%= _('Email:') %></b> <%= @maintainer.email.address %><br>
<%- if @maintainer.jabber.present? %>
<b><%= _('Jabber ID:') %></b> <%= @maintainer.jabber %><br>
<%- end %>
<b><%= _('Time Zone:') %></b> <%= @maintainer.time_zone %><br>
<b><%= _('Seen on building') %></b> <%= time_ago_in_words(@maintainer.last_built_at) %> <%= _('back') %><br>
<%- if @maintainer.info.present? %>
   <b><%= _('Information:') %></b>
   <div class="para"><%= simple_format(@maintainer.info) %></div>
<%- end %>

<p class="break" />
<b><%= @maintainer.for_branch(@branch).srpms_count %> </b><%= _('packages built by this maintainer to the branch') %><br>
<b><%= @acl_count %> </b><%= _('packages built by this maintainer at all') %>

</div><div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div>
