<% title _('Geyser - Package &laquo;%s&raquo; - Patches') % @spkg.name %>
<% description "#{ @spkg.name } - #{ @spkg.summary }" %>
<% keywords @spkg.summary %>

<div id='main-content'>
   <div class="rightbar">
      <%= render partial: "shared/tables/srpm_list", locals: { branched_srpms: @spkgs_by_name.as_json } %>
   </div>

<div style="height:3em;">
  <div id="rpmtop">
    <b style="font-size:9pt;"><%= _('Group') %> :: <%= _(@spkg.groupname) %></b><br>
    <div class="header" style="letter-spacing:1px;"><%= _('Source RPM:') %> <%= @spkg.name %></div>
  </div>
</div>

<div>
<%= render partial: "shared/srpms_menu", locals: { current_page: :patches, branch: @branch, srpm: @spkg, opened_bugs: @opened_bugs, all_bugs: @all_bugs, evrb: @evrb } %>

<% if @spkg.patches.any? %>
<table style="pretty">
  <% @spkg.patches.each do |patch| %>
  <tr>
    <td style="border-bottom: #aaa dotted 1px; padding-right:1em;">&middot;
      <% if patch.patch? %>
        <%= link_to patch.filename, patch_path(@branch, @spkg, patch), class: 'news' %>
      <% else %>
        <%= patch.filename %>
      <% end %>
    </td>
    <td> <b><%= number_to_human_size(patch.size) %></b> </td>
    <td>
      <% if patch.patch? %>
        <%= link_to _('Download'), download_patch_path(@branch, @spkg.name, patch), class: 'news' %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

</div>

<div id="bottom-offset-l">
  <div id="bottom-offset-r">
    &nbsp;
  </div>
</div>
