<% title _('Prometheus 2.0 - Group &laquo;%s&raquo;') % @branch_group.full_name %>

<div id='main-content'>
  <div class='header'>
    <%= _('Group') %> :: <%= _(@branch_group.full_name) %>
  </div>

  <p class='news'></p>

  <% @spkgs.each do |spkg| %>
    <p class='news'>
      <span class='news-date-new'>
        <%= link_to spkg.name, srpm_path(@branch, spkg), class: 'news', title: _('detailed information about the package') %>
      </span>
      <br>
      <br>
      <b><%= _('Current version:') %></b>
      <span class='news-text'><%= spkg.evr %></span>
      <br>
      <b><%= _('Build time:') %></b>
      <span class='news-text'><%= "#{ spkg.buildtime } (#{ time_ago_in_words(spkg.buildtime) } #{_('ago')})" %></span>
      <br>
      <b><%= _('Summary:') %></b>
      <span class='news-text'><%= spkg.summary %></span>
      <br>
      <b><%= _('Changes:') %></b>
      <div class='para'>
        <%= simple_format(spkg.last_changelog_text) %>
      </div>
    </p>
  <% end %>

  <p class="break" />

  <div style="text-align:center">
    <%= paginate @spkgs %>
  </div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>

<div class="rightbar">
   <%= render partial: "shared/tables/pure_branches", locals: { params: @params, branches: @branches_s.as_json } %>
</div>
</div>
