<% title _('Geyser - Search') %>

<div id="main-content">

  <div class="header" style="letter-spacing: 1px;"><%= _('Search') %></div>
  <p class="break"></p>

  <%= render partial: "shared/search_form", locals: { branches: @branches, branch: @branch, arch: @arches&.first, arches: @branch.arches, query: @query || params[:query]} %>

  <br>
  <br>
  <%= _('On your query &quot;').html_safe %><b><%= params[:query] %></b>
  <%- if @branch.persisted? %>
    <%= (_('&quot; in branch <b>%s</b> were found') % @branch.name).html_safe %>
  <%- else %>
    <%= _('&quot; in all branches were found').html_safe %>
  <%- end %>
  <b><%= @spkgs.total_count %></b>
  <%= n_('RPM:', 'RPMs:', @spkgs.total_count) %>

  <p class="break"></p>
  <br>
  <table class="results" cellspacing='0' cellpadding='3'>
    <tr>
      <%- if @branch.perpetual? %>
        <th class='repocop'><%= raw _('repo<br>cop') %></th>
      <%- end %>
      <th class="name"><%= _('package') %></th>
      <th class="version">
        <%= raw(@branch.undefined? && _('versions') || _('current version')) %>
      </th>
      <th class='age'><%= _('age') %></th>
      <th class='url'><%= _('Url') %></th>
      <th class='description'><%= _('summary') %></th>
    </tr>

    <% @spkgs.each do |spkg| %>
      <% if spkg %>
        <%- spkg = spkg.decorate %>
        <tr>
          <%- if @branch.perpetual? %>
            <td class='repocop'>
              <%= link_to image_tag("#{ spkg.repocop_status }.png", size: '20x20', alt: spkg.repocop_status), repocop_srpm_path(branch: @branch, reponame: spkg.name), class: 'repocoplink', title: _('repocop') %>
            </td>
          <%- end %>
          <td class="name">
            <%- if spkg.branch %>
              <%= link_to spkg.name, srpm_path(branch: spkg.branch_slug, reponame: spkg.name), class: 'news' %>
            <%- else %>
              <b class="news"><%= spkg.name %></b>
            <%- end %>
          </td>
          <td class="version">
            <%- if @branch.undefined? %>
               <%- spkg.evrbes.sort_by { |(buildtime, _)| buildtime }.reverse.each do |_, evrb| %>
                 <span class="badge"><%= link_to evrb, versioned_srpm_path(branch: spkg.branch_slug, reponame: spkg.name, version: evrb), class: 'news', title: spkg.name + "-" + evrb %></span>
              <%- end %>
            <%- else %>
              <%= link_to spkg.evr, versioned_srpm_path(branch: spkg.branches.first.slug, reponame: spkg.name, version: spkg.evrb), class: 'news' %>
            <%- end %>
          </td>
          <td><%= "#{ time_ago_in_words(spkg.buildtime) } #{ _('ago') }" %></td>
          <td><%= spkg.short_url %></td>
          <td><%= spkg.summary %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <div style="text-align:center">
    <%= paginate @spkgs %>
  </div>

<div id="bottom-offset-l">
  <div id="bottom-offset-r">
    &nbsp;
  </div>
</div>
