<% @changelogs.each do |changelog| %>
  <span class="news-date-new">
    <%= link_to "#{ changelog.package.filename }",
                srpm_path(@branch, changelog.package.name),
                class: 'news',
                title: _('detailed information about the package') %>
  </span>

  <span class="news-text" style="border-bottom: dotted 1px #f0f0f0">&nbsp;<%= _('build') %>
    <%= changelog.date %>
  </span>

  <div id="pkg-<%= changelog.package.name %>" style="display:block;margin-top:1em;">
    <b><%= _('Group:') %></b> <span class="news-text"><%= _(changelog.package.groupname) %></span><br>
    <b><%= _('Summary:') %></b> <span class="news-text"><%= changelog.package.summary %></span><br>
    <b><%= _('Changes:') %></b> <div class="para"><%= simple_format(changelog.text) %></div>
  </div>
  <p class="news" />

<% end %>

<p class="break" />
  <div style="text-align:center">
    <%= paginate @changelogs %>
  </div>
</div>
